@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.promotion-small-title{
  font-family: "Poppins", sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 2px;
  color: #DF6951;
}
.promotion-big-title{
  font-family: "Volkhov", sans;
  font-weight: 700;
  font-size: 50px;
  line-height: 71px;
}
.promotion-paragraph{
font-family: "Poppins", sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: #000000;
}
.about-promotion-button{
  border-radius: 10px;
  border: none;
  padding: 20px 25px;
  background-color: #DF6951;
  margin-top: 25px;
}
.button-title{
font-family: "Poppins", sans;
font-weight: 600;
font-size: 16.5px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
}
.about-promotion-text-img{
  display: flex;
  justify-content: center;
  margin: 130px;
  max-width: 1350px;
  flex: 1;
}
.about-promotion{
display: flex;
justify-content: center;
align-items: center;
}
.video{
  width: 100%;
}
.media-text{
  font-family: "Yesteryear", sans;
  font-size: 50px;
  line-height: 225px;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  letter-spacing: 8px;
  position: absolute;   
}
.wonderlust-video{
  position: relative;
}
.about-trend-section-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    position: relative;
    align-items: center;
    gap: 150px;
  }
  
  #tourNameText {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    color: #181e4b;
  }
  
  .about-trend-page-description {
    text-align: start;
  }
  
  .shell-image {
    position: absolute;
    right: 0px;
    top: 30px;
  }
  
  .number-screens {
    padding-top: 80px;
    display: flex;
    gap: 50px;
  }
  
  .vacation-screen{
    text-align: center;
  }
  .honeymoon-screen{
    text-align: center;
  }
  .musical-screen{
    text-align: center;
  }
  
  .our-popular-text {
    font-size: 50px;
    color: #181E4B;
    font-family: "Volkhov", sans-serif;
  }
  
  .trend-text {
    font-size: 18px;
    color: #df6951;
    font-family: "Poppins", sans-serif;
  }
  
  .trend-paragraph {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    padding-top: 20px;
  }
  
  @media only screen and (max-width: 1600px){
    .shell-image{
      display: none;
    }
  }
  
  @media only screen and (max-width: 1334px) {
    .about-trend-section-container{
      gap: 0;
    }
  }
  
  @media only screen and (max-width: 1180px) {
    .about-trend-section-container{
      display: flex;
      flex-direction: column;
      padding-top: 10px;
    }
    .trend-img{
      width: 310px;
    }
    .about-trend-page-description {
      text-align: center;
      padding-top: 20px;
    }
  }

  @media only screen and (max-width: 624px){
    .number-screens{
      display: flex;
      flex-direction: column;
    }
  }
  .about-explore-packages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .first-text{
    padding: 50px 0 50px 0;
  }
  
  .container-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0 , 363px));
    max-width: 1600px;
    margin: auto;
    gap: 36px;
    justify-content: center;

  }


  .city-and-money-text{
    position: absolute;
    bottom: 30px;
    padding: 0 30px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    font-size: 30px;
    color: #ffffff;
    font-family: "Poppins" , sans-serif;
  }

  .item3{
    grid-row: auto / span 2;
  }
  
  .container-items > #column-item {
    padding: 4px;
    position: relative;
  }

  .free-image{
    width: 364px;
    height: 364px;
    object-fit: cover;
  }
  
  .international-text{
    font-size: 50px;
    font-family: "Volkhov" , sans-serif;
  }
  
  .explore-more-text{
    font-size: 18px;
    color: #df6951;
    letter-spacing: 0.8;
    font-family: "Poppins" , sans-serif;
  }