@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}


.about-explore-packages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .first-text{
    padding: 50px 0 50px 0;
  }
  
  .container-items {
    display: grid;
    grid-template-columns:repeat(4, 414px);
    grid-template-rows: repeat(2,414px);
  }
  
  .container-items > #column-item {
    padding: 4px;
  }
  
  .free-image{
    width: 364px;
    height: 364px;
    object-fit: cover;
  }
  
  .item1 {
    grid-row: 1 / 1;
    position: relative;
   }
  
   .image-text{
    position: absolute;
    bottom: 60px;
    left: 50px;
    font-size: 22px;
    color: #ffffff;
    font-family: "Poppins" , sans-serif;
   }
  
   .money-text{
    position: absolute;
    bottom: 60px;
    right: 50px;
    font-size: 22px;
    color: #ffffff;
    font-family: "Poppins" , sans-serif;
   }
   .item2{
   grid-row: 1 / 1;
   position: relative;
   }
  .item3 {
    grid-row: 1 / 3;
    position: relative;
  }
  .item4 {
    position: relative;
  }
  .item5 {
    position: relative;
  }
  .item6 {
    position: relative;
  }
  .item7 {
    position: relative;
  }
  .item8 {
    position: relative;
  }
  .item9 {
    position: relative;
  }
  
  .item10{
    position: relative;
  }
  
  .item11{
    position: relative;
  }
  
  .international-text{
    font-size: 50px;
    font-family: "Volkhov" , sans-serif;
  }
  
  .explore-more-text{
    font-size: 18px;
    color: #df6951;
    letter-spacing: 0.8;
    font-family: "Poppins" , sans-serif;
  }