/* General Settings Start */

@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


*{
    margin : 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* General Settings Finish */

.honeymoon-wrapper{
    display: flex;
    gap: 70px;
    justify-content: center;
    text-align: start;
    align-items: center;
    position: absolute;
    left: 200px;
    bottom: 70px;
}

/* İmage Start */

.honeymoon-image img{
    width: 750px;
    height: 800px;
}

/* İmage Finish */

/* Honeymoon Plus Effect Start */
.honeymoon-plus-effects{
    position: relative;
    display: flex;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    left: 636px;
    bottom: -5px;
    color: #E5E5E5;
    font-size: 22px;
}

.honeymoon-plus-effect-two{
    display: grid;
    row-gap: 20px;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: auto auto;
    position: absolute;
    gap: 20px;
    left: 734px;
    font-size: 22px;
    bottom:28px;
    color: #E5E5E5;
}

.honeymoon-plus-effects .honeymoon-plus-effect-color{
    color: #DF6951;
}

.honeymoon-plus-effect-two .honeymoon-plus-effect-color{
    color: #DF6951;
    
    
}

/* Honeymoon Plus Effect Finish */

/* Description Text Start */

.honeymoon-description-text{
    font-family: 'Poppins', sans-serif;
    color: #000000;
    width: 580px;
    height: 400px;
}

.honeymoon-description-text .honeymoon-spacials-text {
    color: #DF6951;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.honeymoon-description-text .romantic-tropical-honey{
    color: #181E4B;
    font-family: 'Volkhov', serif;
    font-size: 50px;
}

.honeymoon-description-text,
.honeymoon-desc-etlabore{
    font-size: 16px;
}
/* Description Finish */

/* Button Start */

.wiew-packages-btn{
    background-color: #DF6951;
    border : none;
    max-width: 250px;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-align: center;
    font-size: 21px;
    padding: 15px;
}

.wiew-packages-btn .wiew-packages-text{
    position: relative;
    right: 15px;
    bottom: 5px;
}

/* Button Finish */