@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
/* General Settings Finish */
/*Partners-Section styles*/
.hompage-partner-section{
  width: 100%;
  background-color: #F5F5F5;
}
.partner-section-logo{
display: flex;
max-width: 1920px;
height: 200px;
align-items: center;
margin: auto;
justify-content: space-around;
}
.logo-img{
  height: 50px;
}
/* Partners-Section style END /*

/* Best-Services styles*/
.best-services {
  margin: 100px 20px;
}
.Homepage-best-services-1 {
  line-height: 28px;
  color: #df6951;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 18px;
}
.Homepage-best-services-2 {
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  padding: 20px;
  color: #181e4b;
  font-family: "Volkhov", sans-serif;
}
.Homepage-best-services-img-text {
  display: flex;
  gap: 138px;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1365px;
  justify-content: center;
}
.Homepage-best-services-paragraph-texts {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  padding: 12px;
  font-family: "poppins", sans-serif;
  color: #5e6282;
  font-weight: 500;
}
.Homepage-best-services-title-articles {
  text-align: center;
  font-size: 20px;
  font-family: "poppins", sans-serif;
  color: #1e1d4c;
  padding: 10px;
  font-weight: 600;
}
.Homepage-best-human-img {
  position: relative;
  text-align: center;
}
.Homepage-best-services-plane-img {
  position: relative;
  text-align: center;
  z-index: 1;
}
.Homepage-best-services-hands-img {
  position: relative;
  text-align: center;
}
.Homepage-best-services-medical-img {
  position: relative;
  text-align: center;
}
.Hompage-box-1 {
  width: 50px;
  height: 49px;
  border-radius: 18px 5px 10px 5px;
  background-color: #fff1da;
  display: inline-block;
  position: absolute;
  z-index: -1;
  right: 54px;
  top: 36px;
}
.Hompage-box-2 {
  width: 50px;
  height: 49px;
  border-radius: 18px 5px 10px 5px;
  background: #fff1da;
  display: inline-block;
  position: absolute;
  z-index: -1;
  left: 47px;
  bottom: 25px;
}
.Hompage-box-3 {
  width: 50px;
  height: 49px;
  border-radius: 18px 5px 10px 5px;
  background: #fff1da;
  display: inline-block;
  position: absolute;
  z-index: -1;
  right: 56px;
  top: 26px;
}
.Hompage-box-4 {
  width: 50px;
  height: 49px;
  border-radius: 18px 5px 10px 5px;
  background: #fff1da;
  display: inline-block;
  position: absolute;
  z-index: -1;
  right: 50px;
  top: 27px;
}
.Homepage-best-services-plane {
  position: relative;
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0),
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  border-radius: 36px;
  background-color: white;
  padding: 45px 35px;
  display: inline-block;
}
.orange-box {
  left: -30px;
  width: 96px;
  height: 100px;
  background-color: #df6951;
  position: absolute;
  border-radius: 28px;
  bottom: -30px;
  z-index: -2;
}
/* Best-Services styles END*/

/* Honeymoon Specials Packages - Start */

.honeymoon-project-container {
  padding: 50px 20px;
  justify-content: center;
  display: flex;
}

.honeymoon-wrapper {
  display: flex;
  gap: 150px;
  align-items: center;
}

.honeymoon-image .honeymoon-img {
  width: 100%;
}

.honeymoon-image {
  position: relative;
}

.honeymoon-plus-effects {
  position: absolute;
  display: flex;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  right: -22px;
  color: #e5e5e5;
  font-size: 14px;
  bottom: -20px;
}

.honeymoon-plus-effect-two {
  display: grid;
  row-gap: 20px;
  font-family: "Roboto", sans-serif;
  grid-template-columns: auto auto;
  position: absolute;
  gap: 20px;
  right: -22px;
  font-size: 14px;
  bottom: 1px;
  color: #e5e5e5;
}

.honeymoon-plus-effect-color {
  color: #df6951;
}

.honeymoon-plus-effect-color {
  color: #df6951;
}

.honeymoon-spacials-text {
  color: #df6951;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

.romantic-tropical-honey {
  color: #181e4b;
  font-family: "Volkhov", serif;
  font-size: 50px;
  padding-bottom: 10px;
}

.honeymoon-desc-etlabore {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 15px;
}

.wiew-packages-btn {
  background-color: #df6951;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wiew-packages-btn:hover {
  background-color: #b13b23;
}


/* Button Finish */

@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.honeymoon-project-container {
  padding: 50px;
  justify-content: center;
  display: flex;
}

.honeymoon-wrapper {
  display: flex;
  gap: 150px;
  align-items: center;
}

.honeymoon-image .honeymoon-img {
  width: 100%;
}

.honeymoon-image {
  position: relative;
}

.honeymoon-plus-effects {
  position: absolute;
  display: flex;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  right: -22px;
  color: #e5e5e5;
  font-size: 14px;
  bottom: -20px;
}

.honeymoon-plus-effect-two {
  display: grid;
  row-gap: 20px;
  font-family: "Roboto", sans-serif;
  grid-template-columns: auto auto;
  position: absolute;
  gap: 20px;
  right: -22px;
  font-size: 14px;
  bottom: 1px;
  color: #e5e5e5;
}

.honeymoon-plus-effect-color {
  color: #df6951;
}

.honeymoon-plus-effect-color {
  color: #df6951;
}

.honeymoon-spacials-text {
  color: #df6951;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  padding-bottom: 10px;
}

.romantic-tropical-honey {
  color: #181e4b;
  font-family: "Volkhov", serif;
  font-size: 50px;
  padding-bottom: 10px;
}

.honeymoon-desc-etlabore {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 15px;
}

.wiew-packages-btn {
  background-color: #df6951;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-align: center;
  font-size: 19px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wiew-packages-btn:hover{
    background-color: #b13b23;
}

.promotions-explore-container {
  display: flex;
}

.explore-left-screen,
.explore-right-screen {
  position: relative;
  width: 100%;
}

.explore-left-screen::before,
.explore-right-screen::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.explore-description {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.left-text-line-effect {
  position: absolute;
  right: -90px;
  bottom: -5px;
}

.right-text-line-effect {
  position: absolute;
  right: -90px;
  bottom: -5px;
}

.explore-big-text {
  color: #fff;
  font-family: "Volkhov", sans-serif;
  font-size: 50px;
  line-height: 72px;
}

.promotion-text {
  color: #ffefec;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.view-packages-btn {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.explore-left-screen {
  background-image: url(/images/homepage-explore1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.explore-right-screen {
  background-image: url(/images/homepage-explore2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-description-cities {
  position: relative;
}

.text-description-nature {
  position: relative;
}

.nature-btn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  transition: all 0.4s ease;
}

.nature-btn:hover {
  border-radius: 30px;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
/* Promotion Explore Packages - Finish */

/* Trending Your Packages - Start */

.trending-your-packages-container{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

.trending-your-packages-project-start {
  text-align: center;
  padding-top: 20px;
}

.out-trending-packages-text {
  color: #181e4b;
  font-family: Volkhov, sans-serif;
  font-size: 50px;
}

.trendy-text {
  color: #df6951;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.switzerland-image {
  position: relative;
}

.trending-your-packages-items {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  padding-top: 30px;
}

.photo-switzerland {
  cursor: pointer;
  width: 100%;
}

.photo-brazil {
  cursor: pointer;
  width: 100%;
}

.photo-eygpt {
  cursor: pointer;
  width: 100%;
}

.img-swiss {
  position: absolute;
  left: 10px;
  bottom: -70px;
  border-radius: 10px;
}

.brazil-image {
  position: relative;
}

.eygpt-image {
  position: relative;
}

.img-brazil {
  position: absolute;
  left: 10px;
  bottom: -70px;
}

.img-egypt {
  position: absolute;
  left: 10px;
  bottom: -70px;
  border-radius: 10px;
}

.country-info-all {
  display: flex;
  padding-top: 45px;
  color: #7d7d7d;
  font-family: Poppins, sans-serif;
  gap: 10px;
  align-items: center;
}

.profile-icon {
  width: 20px;
  height: 20px;
}

.country-name-text-all {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  display: flex;
  padding-top: 5px;
  cursor: pointer;
  text-align: start;
}

.country-name-all {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: space-between;
}

.star-icons {
  display: flex;
  gap: 5px;
}

.navigation-country-all {
  display: flex;
  gap: 5px;
  align-items: center;
}

.location-country-text-all {
  color: #7d7d7d;
  font-family: Poppins, sans-serif;
}

.price-text-all {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px;
}

.onemilion {
  color: #df6951;
  font-size: 30px;
  font-family: Poppins, sans-serif;
}

.onemiliontwo {
  color: #7d7d7d;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  text-decoration: line-through;
}

.country-description-text-all {
  text-align: start;
}

.description-text-all {
  font-family: Poppins, sans-serif;
  padding-bottom: 10px;
}

.explore-now-btn {
  background-color: #df6951;
  padding: 15px;
  color: #fff;
  font-family: Poppins, sans-serif;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.explore-now-btn:hover {
  background-color: #bc3115;
}

/* Trending Your Packages - Finish */
