/* General Settings START */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.items-comp{
  display: grid;
  gap: 20px;
  padding-left: 100px;
}

.items-dest{
  display: grid;
  gap: 20px;
}

.company-text {
  color: #181433;
}

.company-and-destinitions-links .links-items-footer {
  font-weight: 400;
  transition: all 0.3s ease;
}

.company-and-destinitions-links .links-items-footer:hover{
  color: #df6951;
}

.travel-footer-logo-description{
  display: grid;
  flex-direction: column;
  grid-template-columns:auto auto auto;
}

/* General Settings FİNİSH */

.homepage-footer-container {
  padding: 200px 400px;
}

.company-and-destinitions-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  font-family: Manrope , sans-serif;
}

/* General Settings FİNİSH */

/*Footer Logo and mini text START*/

.logo-mini-text {
  color: #757095;
  font-family: "Manrope", sans-serif;
}

.social-media-icons-footer {
  display: flex;
  gap: 15px;
  padding-top: 35px;
}

/*Footer Logo and mini text FİNİSH*/

/* Social Media İcons Start */

.footer-icons-img{
  cursor: pointer;
}

/* Social Media İcons Start */

/*Join Our Text Start */

.join-our-newsietter-footer{
  padding-left: 90px;
}

.join-our-text {
  color: #181433;
  font-family: Manrope , sans-serif;
  font-size: 21px;
  padding-bottom: 25px;
}

.your-email-adress {
  padding: 17px;
  width: 69%;
  border: none;
  background: #eef;
}

.your-email-adress:focus {
  outline: none;
}

.subsicribe-btn {
  padding: 15px;
  border-radius: 10px;
  background: #df6951;
  border: none;
  color: #fff;
  font-family: Manrope , sans-serif;
  cursor: pointer;
}

.join-our-paragraph {
  padding-top: 25px;
  color: #181433;
  font-family: Manrope , sans-serif;
  opacity: 0.5;
}

/*Join Our Text Finished */


/* Footer Copyright Text and Line Start */

.footer-copyright-text{
color: #181433;
text-align: center;
justify-content: center;
align-items: center;
padding-top: 20px;
}

.copyright-text{
  font-family: Manrope , sans-serif;
  font-size: 15px;
}


.copyright-line{
  color: #E5E5EA;
  opacity: 0.4;
  width: 60%;
  margin-left: 20%;
}

/* Footer Copyright Text and Line Finish */
